@page "/profesor"
@using ComIT.Comunes.Entities
@using ComIT.CursosApp.Entities
@inject NavigationManager navigation
@rendermode InteractiveServer

<h1>Profesor</h1>

@* <h3>Nuevo profesor</h3>
<label>DNI
    <input type="number" @bind="dni" />
</label>
<br />
<br />
<label>Nombre
    <input type="text" @bind="nombre"/>
</label>
<br />
<br />
<label>Apellido
    <input type="text" @bind="apellido"/>
</label>
<br />
<br />
<label>Fecha Nacimiento
    <input type="date" @bind="fechaNac"/>
</label>
<br />
<br />
<label>Años de Experiencia
    <input type="number" @bind="añosExp"/>
</label>
<br />
<br />
<label>Materia
    <input type="text" @bind="materia" />
</label>
<br />
<br />


@if (estamosModificando)
{
    <button @onclick="GuardarCambios" type="button" class="btn btn-primary">Guardar Cambios</button>
}
else
{
    <button @onclick="Agregar" type="button" class="btn btn-primary">Agregar profesor</button>
}



<br/>
@if (error != "")
{
    <div class="alert alert-danger" role="alert">
        <label>@error</label>
    </div>
}
<br />
 *@
<button class="btn-primary" @onclick="NuevoProfesor">Nuevo</button>

<ProfesoresListado Datos="@ProfesoresList" MostrarBotones="true" modificarEvent="Modificar" eliminarEvent="Eliminar">
</ProfesoresListado>
