@page "/profesor"
@using ComIT.CursosApp.Entities
@rendermode InteractiveServer

<h1>Profesor</h1>

 <ProfesorModal @ref="modal" data="profesorModificando" GuardarEventCallback="Guardar" Modificando="estamosModificando"/>

<button type="button" class="btn btn-primary" @onclick="NuevoProfesor">Nuevo</button>

<ProfesoresListado Datos="@ProfesoresList" MostrarBotones="true" modificarEvent="Modificar" eliminarEvent="Eliminar">
</ProfesoresListado>
